#ewhitebody{
		width:100%;
		height:100%;
		background-color:#000;
		opacity:0.9;
		position:fixed;
		top:0px;
		left:0px;
		z-index:9999;
		font-weight:bold;
		color:red;
		display:none;
	}
#eventform{
		position:absolute;
		z-index:9999;
		left:30%;
        width:530px;  
        background: #fff;
		font-size:15px;
	    border:1px solid #ccc;
        border-radius: 3px;
        color: #1280ce;
        animation: move 400ms ease forwards;
		display:none;    
}
@keyframes move {
    0%{
        opacity: 0;
        top: -10%;
    }
    70%{
        top: 30%;
    }
    100%{
        opacity: 1;
        top: 20%;
    }

}
#eventform table{
	margin:30px;
	color:#4e4e32;
}
#eventform h3{
    margin: 10px;
    padding-left: 10px;
}
#eventform #topic{
	  height:30px;
	  width:300px;
	  padding-left:8px;
	  font-size:15px;
}
#eventform #description{
	  height:100px;
	  width:250px;
	  resize:none;
	  font-size:15px;
	  padding-left:5px;
}
#eventform #eventsubmit{
       -webkit-border-radius: 4;
       -moz-border-radius: 4;
       border-radius: 4px;
       width:80px;
       font-size: 13px;
       height: 30px;
       cursor:hand;  
       background: #fff;
       border:0;
       color: #fff;
       margin-bottom: 10px;
       margin-left: 65%;
       background: #0199d9;
       border: 1px solid #ccc;
       outline:none;
}
#eventform #cancelsubmit{
    -webkit-border-radius: 4;
       -moz-border-radius: 4;
       border-radius: 4px;
       width:80px;
       font-size: 13px;
       height: 30px;
       cursor:hand;  
       background: #fff;
       border:0;
       color: #000;
       margin-bottom: 10px;
       margin-left: 5px;
       background: #f8f8f8;
       border: 1px solid #ccc;
       outline:none;
}
#eventform #eventsubmit:active,#eventform #cancelsubmit:active{
     opacity: .6;
}
#eventform table #eventsubmit:active{
	  width:90px;
	  font-size:14px;
  }
#eventform table span{
	font-size:13px;
	color:red;
	font-weight:bolder;
	text-align:center;
}
.left-container #addevent{		
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-weight:bolder;
  width:70%;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin:40% 0% 0% 13%;
  cursor:hand;
  box-shadow: 1px 2px 2px rgb(204, 204, 204);    
    background: #fff;
    text-shadow: 1px 1px 15px #f8f8f8;
    border:1px solid #bed8e8;
    color: #1280ce;
    outline:none;
  transition: all 500ms ease;
}
.left-container #addevent:active{
   background: #bed8e8;
    transform: scale(0.9);
}	
#event-container{
	  width:60%;
	   background:#ebeef4; 
	  z-index:1;
	  position:absolute;
	  margin:1% 21%;
}	  
.right-container #eventinfo{
	 height:23%;
	 background:url('../webimages/kcc.jpg');
	 background-size:cover;
	 filter: blur(6px);
	 display:none;
}
.right-container span{
    position: absolute;
    text-align:center;
	top:4%;
	left:30%;
	color: #fff;
    text-shadow: 2px 2px 10px #000;
    font-weight: bolder;
    font-size: 18px;
    overflow: hidden;
}
#event-container .eventtemplate{
    padding:6px 0px 0px 8px;
    margin-bottom: 5px;
	width:700px;
	font-size:13px;
	color:#000;
    background: rgba(0, 255, 204, 0.5);
    background: #fff;
	border-radius:3px;
    border:1px solid rgb(204, 204, 204); 
    box-shadow: 0px 2px 4px rgb(204, 204, 204);
	}
#event-container .eventtemplate b{
    color: #1280ce;
}
#event-container time.icon
{
  font-size: 15px; 
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
} 
#event-container time.icon *
{
  display: block;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
#event-container time.icon strong
{
  position: absolute;
  top: 0;
  padding: 5px 0;
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;
}
#event-container time.icon span
{
  font-size: 40px;
  padding-top: 30px;
  color: #2f2f2f;
}
#event-container .event{
	margin:-80px 0px 10px 80px;
	height:80px;
	padding:5px 5px 5px 10px;
	overflow:hidden;
}
#event-container .event i{
  margin-left:400px;
}
#event-container .eventcount{
	height:25px;
	width:700px;
	bottom:300px;
	background: #fff; 
    padding:8px 0px 0px 8px;
	margin-bottom:10px;
	font-size:13px;
	font-weight:bolder;
	color:#1280ce;
	border-radius:3px;
    border:1px solid rgb(204, 204, 204); 
    box-shadow: 0px 2px 4px rgb(204, 204, 204);
}