body{
    margin: 0;
    padding: 0;  
    font-family: arial;
    background: #bed8e8 url(../webimages/background.png) no-repeat 15% 45%;
    overflow-y: scroll;
}
#header{
    background: #1280ce;
    height: 60px;
    overflow: hidden;
}
#header a{
    text-decoration: none;
    color: #fff;
    height: 60px;
    line-height: 60px; 
}
#header #logo{
    margin-left: 10%;
    font-size:30px;
}
#header #about{
    margin-left: 60%;
    font-size: 20px;
}
#form-container{
   // position: relative;
    width: 350px;
    height: 500px;
    margin-left: 60%;
    margin-top: 50px;
}
.form 		{ 
  font-family:'Roboto';
  width:350px; 
  display:block; 
    font-family: arial;
    margin:0;
    position: relative;
}
.formheader{
    background: #1280ce;
    color:#fff;    
    height: 60px;
    cursor: hand;
}
.formheader h3{
    padding: 9px 0px 6px 14px;
    margin:0
}
.formheader i{
    float: right;
    font-size: 40;
    margin: 10px 35px 5px;
}
.formheader span{
    font-size: 12px;
    margin: 14px;
}
.login #loginform{
    padding: 10% 10% 5% 7%;
    background: #fff;
}
.login .group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
.login input 				{
  font-size:14px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
    text-align: right;
    background: #fff;
  border-bottom:1px solid #ccc;
}
.login input:focus 		{ outline:none; }
.login label 				 {
  color:silver; 
  font-size:14px;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:15px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.login input:focus ~ label,.login input:valid ~ .login label 		{
  top:-20px;
  font-size:12px;
  color:#1280ce;
}
.login .bar 	{ position:relative; display:block; width:300px; }
.login .bar:before,.login .bar:after 	{
  content:'';
  height:1px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#1280ce; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.login .bar:before {
  left:50%;
}
.login .bar:after {
  right:50%; 
}

/* active state */
.login input:focus ~ .bar:before,.login input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.login .highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.login input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
	from { }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { }
  to 	{ width:0; background:transparent; }
}
.button{
    font-size:12px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
    background: #1280ce;
  color: #fff;
    font-size: 15;
    font-weight: bolder;
    margin-bottom: 13px;
    cursor: hand;
}
.login #adminlogin{
    background: #ff1a1a;
}
.login #teacherlogin{
    background: green;
}
.login a{
    text-decoration: none;
    text-align: center;
    display: block;
    color: #1280ce;
}
.signup .formheader{
    background: #00b300;
    margin-top: -5%;
    position: relative;
    z-index: 9999;
    transition: all 300ms ease ;
}
.signup .formheader.move{
   margin-top: -114%;
}
.signup .text{
    width: 165px;
    padding: 5px;
    border: 0;
    height: 25px;
    outline: none;
    border-bottom: 1px solid #00b300;
    background: #fff;
}
.signup table{
    color: #1280ce;
    font-size: 14px;
    font-weight: 500;
}
.signup table td{
    padding-top:20; 
}
.signup select{
    color: #1280ce;
    height: 25px;
    margin-left: 10px;
    border: 1px solid #ccc;
    outline: none;  
    background: #f8f8f8
}
.signup .opt{
    width:100;
}
.signup #signupsubmit{
   background: #00b300; 
   font-family: arial;
    margin-bottom: 10px;
}
.signup #signupsubmit i{
    font-size: 18px;
}
footer{
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    color: #1280ce;
}
#signupform{
    background: #fff;
    opacity: 0;
    position: absolute;
    transition: all 400ms ease;
}
#signupform.f{
   opacity: 1;
}
#liderror{
    position: absolute;
    top:-5%;
    left: -68%;
    background: #db2727;
    height: 40px;
    width: 180;
    font-size: 13px;
    color: #f8f8f8;
    border-radius: 3px;
    text-align: center;
    padding: 4px 2px 0px 2px;
    line-height:17px; 
    border: 1px solid #990000;
    display: none;
}
#liderror:after{
    content:"";
    position: absolute;
    height: 0;
    width: 0;
    left: 100%;
    top:28%;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid #db2727;
    border-right: 10px solid transparent;
}
#lpassworderror{
    position: absolute;
    top:-5%;
    left: -68%;
    background: #db2727;
    height: 40px;
    width: 180;
    font-size: 13px;
    color: #f8f8f8;
    border-radius: 3px;
    text-align: center;
    padding: 4px 2px 0px 2px;
    line-height:17px; 
    border: 1px solid #990000;
    display: none;
}
#lpassworderror:after{
    content:"";
    position: absolute;
    height: 0;
    width: 0;
    left: 100%;
    top:28%;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid #db2727;
    border-right: 10px solid transparent;
}
#loginerror{
    position: absolute;
    font-size: 13px;
    background: #db2727;
    color: #fff;
    width: 100%;
    top:120%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #990000;
    display: none;
}
.lerrormsg{
    position: absolute;
    background: #db2727;
    color: #fff;
    height: 30px;
    font-size: 13px;
    line-height: 2.5em;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid #990000;
    display: none;
}
.lerrormsg:after{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: 100%;
    top:24%;    
    border-bottom: 8px solid transparent;
    border-left: 8px solid #db2727;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
}
#fnameerror{
    top: 6%;
    left: -33%;
}
#facultyerror{
    top: 44%;
    left: -37%;
  
}
#iderror{
    top: 58%;
    left: -56%;
}
#spassworderror{
    top: 71%;
    left: -58%;
    height: 47px;
    line-height: 1.7em;
    padding-top: 5px;
}
.rerrormsg{
    position: absolute;
    background: #db2727;
    color: #fff;
    height: 30px;
    font-size: 13px;
    line-height: 2.5em;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid #990000;
    display: none;
}
#lnameerror{
    right: -33%;
    top:5%    
}
#lnameerror:after{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: -14%;
    top:24%;    
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid #db2727;
    border-top: 8px solid transparent;
}
#emailerror{
    right: -49%;
    top: 70%;
    height: 69px;
    width:150px;
    line-height: 1.7em;
    padding-top: 5px;
}
#emailerror:after{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: -9.5%;
    top:24%;    
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid #db2727;
    border-top: 8px solid transparent;
}
#semestererror{
    top:44%;
    right: -28%;
}
#semestererror:after{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    left: -11%;
    top:24%;    
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid #db2727;
    border-top: 8px solid transparent;
}
@media(max-width:600px){
    #form-container{
        margin-top: 2px;
        margin-left: 0px;
        
    }
    #header #about{
        margin-left: 1%;
    }
    body{
        background: #bed8e8;
    }
}